{% extends "evangile/base.html.twig" %}

{% block title %}
    <h1 style="font-size: 46px">Evangile deux point zero</h1>
    <hr class="small">
    <span class="subheading">Evangile 2.0</span>
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                {% for article in articles %}
                    <div class="post-preview">
                        <div class="pull-right">
                            {% if article.target == 'enfant' %}
                                <span class="label label-success">{{ article.target }}</span>
                            {% elseif article.target == 'adolescent' %}
                                <span class="label label-warning">{{ article.target }}</span>
                            {% elseif article.target == 'adulte' %}
                                <span class="label label-danger">Adulte</span>
                            {% endif %}
                        </div>
                        <a href="{{ article.url }}">
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>
                        </a>
                        <p class="post-meta">Posté par
                            <a href="#">{{ article.author }}</a>
                            {{ article.last_modified | date('d - m - Y') }}.
                            {% if article.tags is not empty %}
                                {% for tag in article.tags %}
                                    <span class="label label-primary">{{ tag }}</span>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}